body
{
    
}
#container
{
    height: 150px;
    width:200px;
    margin: 90px auto;
    position: relative;
    align-content: center;
}

#imgclass
{
    height: 150px;
    width:290px;
    position: absolute;
}

#left_hold
{
    height: 10px;
    width: 10px;
  
    left: 0px;
    top: 0px;
    
}

#right_hold
{
    height: 10px;
    width: 10px;  
    left: 0px;
    top: 0px;    
}


.left
{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 40%;
    left: 0px;   
    
}


.right
{
  height: 30px;
    width: 30px;
    position: absolute;
    top: 40%;
   
    left: 130%;

    
    
}


#imgclass:hover
{
     transform:scale(1.2);
    cursor: pointer;
}